html,
body {
    height: 100%;
}

/* Fix bootstrap style */
body.modal-open {
    padding-right: 0 !important;
}
/* /Fix bootstrap style */

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -50px;
    padding: 0 0 50px;
}
.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 50px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

/* Flash message */
#ui_notifIt.info {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}
#ui_notifIt.success {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
#ui_notifIt.warning {
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}
#ui_notifIt.error {
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
#ui_notifIt.default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
/* /Flash message */

/* Grid view */
.grid-header, .grid-view table, .grid-footer {
    margin: 0 0 10px;
}
.grid-view .summary, .grid-view .pagination {
    margin: 0;
}
.grid-view table th {
    color: #333;
    white-space: nowrap;
}
.grid-view table td {
    vertical-align: middle;
}
.grid-view table a {
    color: #333;
    text-decoration: underline;
}
.grid-view table a.asc:after, .grid-view table a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
.grid-view table a.asc:after {
    content: '\e155';
}
.grid-view table a.desc:after {
    content: '\e156';
}
.grid-view table .glyphicon {
    padding: 0 4px;
}
/* /Grid view */

/* Modal */
@media (min-width: 768px) {
    .modal-dialog {
        width: 650px;
    }
}
/* /Modal */

/* Horizontal form */
.form-horizontal .form-group {
    margin: 0;
}
.form-horizontal .has-error .control-label,
.form-horizontal .has-success .control-label {
    color: #333;
}
.form-horizontal .has-error .input-group-addon,
.form-horizontal .has-success .input-group-addon {
    background-color: transparent;
    color: #333;
}
.form-horizontal .required .asterisk::after {
    color: #c9302c;
    content: '*';
    font-size: 18px;
    position: absolute;
    right: 6px;
    top: 4px;
}
.form-horizontal .date {
    width: 160px;
}
.form-horizontal .help-block {
    height: 18px;
    line-height: 18px;
    margin: 2px 0;
}
/* /Horizontal form */
